/* ===== BODY ===== */
    :root {
    --cream: #FBF9F3;
    --cream-dark: #F3EEE1;
    --teal: #009190;
    --teal-dark: #1E5D53;
    --green: #0F6766;
    --green-dark: #0A504F;
    --orange: #E46829;
    --orange-light : #F6A278;
    --gray-dark: #464655;
    --sage: #E3EFE8;
    --green-darker: #324640;
    }

    * { box-sizing: border-box; margin: 0; padding: 0; }

    body {
    font-family: 'Calisto', sans-serif;
    color: var(--gray-dark);
    background: white;
    letter-spacing: 0.6px;
    }


/* ===== HEADER ===== */
    .bgh {background: var(--cream); z-index: 10; position:fixed; top: 0;}
    .full-bg {width: 100%;}
    .inner {margin: 0 auto;}
    
    .header-spacer {height: 220px;}

    .site-header {
      justify-content: center;
    display: grid;
    grid-template-columns: 16% 16% 20% 20% 16%;
    grid-template-rows: 100px 30px 60px;
    align-items: center;
    top: 60px;
    gap: 10px;
    padding-bottom: 20px;
    }

    .logo {
    grid-column: 1/2;
    grid-row: 1/4;
    }
    .logo img {
    width: 300px;
    }

    .brand-name {
    grid-column: 2/3;
    grid-row: 1/3;
    padding-top: 30px;
    }
    .brand-name img {
    width: 200px;
    height: auto;
    }

    .site-header .menu {
    grid-column: 2/6;
    grid-row: 3/4;
    font-family: 'GoudyOldStyle', sans-serif;
    font-size: 19.8px;
    }

    .menu a {
    text-decoration: none;
    color: var(--gray-dark);
    position: relative;
    text-decoration: none;
    display: inline-block;
    }
      .menu a::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 1px;
      color: var(--orange);
      background-color: currentColor;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.3s ease;
      }
      .menu a:hover::after {
        transform: scaleX(1);
      }

    .menu .dot {
    font-size: 109.8px;
    color: #E46829;
    line-height: 0;
    }

    .wordmark {
    grid-column: 4/6;
    grid-row: 1/2;
    margin-left: auto;
    padding-top: 30px;
    }
    .wordmark img {
    width: 300px;
    height: auto;
    }

    .header-quote {
    grid-column: 4/6;
    grid-row: 2/3;
    font-family: 'CalistoItalic', sans-serif;
    font-size: 21.8px;
    color: var(--gray-dark);
    text-align: right;
    margin-top: 6px;
    padding-top: 15px;
    }

    /* ===== RESPONSIVE HEADER ===== */

        /* Transitions douces sur les éléments qui vont changer */
    .site-header {
      transition: grid-template-rows 0.3s ease, padding-bottom 0.3s ease;
    }

    .logo img,
    .wordmark img {
      transition: width 0.3s ease;
    }

    .brand-name,
    .header-quote {
      transition: opacity 0.3s ease;
    }



    /* ===== État réduit (déclenché après 100px de scroll) ===== */

    .site-header.reduit {
      grid-template-rows: 40px 0px 40px; /* la ligne du milieu (brand-name/quote) passe à 0 */
      padding: 10px 0px;
      margin: 0 auto;
    }

    .site-header.reduit .logo img {
      width: 270px; /* ajuste selon le rendu voulu */
    }

    .site-header.reduit .brand-name {
      opacity: 0;
      pointer-events: none;
      overflow: hidden;
    }

    .site-header.reduit .header-quote {
      opacity: 0;
      pointer-events: none;
      overflow: hidden;
    }

    .site-header.reduit .wordmark {
      grid-row: 1/3;
      padding-top: 30px;
      align-self: center;
    }

    .site-header.reduit .wordmark img {
      width: 200px;
    }

    .site-header.reduit .menu {
      grid-row: 2/4;
    }


/* ===== FOOTER ===== */
  .bgf {background: var(--sage);}

  footer {
    display: flex; 
  }

  .footer-left {
    padding: 30px 100px;
    color: var(--gray-dark);
    position: sticky;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
  }

  .footer-wordmark {
    font-family: 'Aloha', sans-serif;
    font-size: 1.8em;
  }
  .footer-wordmark .accent-orange { color: var(--orange); }
  .footer-wordmark .accent-teal { color: var(--teal); }

  .footer-copyright {
    font-family: 'GoudyOldStyle', sans-serif;
    margin-top: 10px;
    font-size: 0.8em;
    color: var(--teal-dark);
    border-left: 3px solid var(--orange);
    padding-left: 10px;
  }
  .footer-right {
    margin-left: auto;
    padding-right: 30px;
    align-self: center;
    font-family: 'GoudyOldStyle', sans-serif;
    text-decoration: none;
    font-size: 1.0em;
  }

/* ===== RESPONSIVE (écran large >1800px et 1522px MINIMUM) ===== */  
    @media (min-width: 1500px) {
    .full-bg {width: 100%;}
    .inner {
        max-width: 1600px;
        margin: 0 auto;
    }
    }


/* ===== CONTENT PAGE INDEX===== */

  /* ===== BANDEAU TEAL ===== */
    .bg1 {background: var(--teal); position: relative; z-index: 6;}

    .content1 {
      color: #fff;
      padding: 100px 100px 60px;
    }

    .content1 img{
      width: 600px;
    }


    .content1-quote {
      text-align: right;
      font-family : 'CalistoBoldItalic', sans-serif;
      font-size: 2em;
      margin-top: 20px;
    }
    .content1-quote cite {
      display: block;
      font-family : 'Calisto', sans-serif;
      font-size: 0.8em;
      margin-top: 0px;
    }

    .content1-tagline {
      font-family: 'GoudyOldStyle';
      margin-top: 50px;
      font-size: 25.8px;
      text-align: center;
      align-items: center;  
    }

    .content1-tagline .dot {
      font-size: 149.8px;
      color: #E46829;
      line-height: 0;
    }


  /* ===== BANDEAU LETTRES ACCUEIL ===== */
    .lettres1 {
      position: relative;
    }
    .lettres1 img {
      position: absolute;
      top: -60px;
      z-index: -1;
    }


  /* ===== POST IT PRESENTATION ===== */

    .postit {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      align-items: center;
      position: relative;
      z-index: 4;
      background: var(--cream);
      max-width: 1200px;
      height: auto;
      margin: -30px auto 60px auto;
      padding: 60px 40px 30px 40px;
      text-align: center;
      box-shadow: 0 6px 20px rgba(0,0,0,0.08);
      border-radius: 4px;
      gap: 10px;
      color: var(--teal-dark);
    }

    .postit-titre {
      grid-column: 1/3;
      grid-row: 1/2;
    }
    .postit-titre h2 {
      font-family: 'CalistoItalic', sans-serif;
      font-weight: 100; 
      font-size: 49.8px; 
      color: var(--teal);
      padding: 20px 50px 30px 50px;
    }
    .postit-titre h3 {
      font-weight: 100; 
      font-size: 23.8px;
      padding-bottom: 60px;
    }
    .info-card p {
      font-size: 17.8px;
      text-align: justify;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .info-card .bold {
      font-family: 'CalistoBold', sans-serif;
      font-size: 19.8px;
      color: var(--orange);
      padding-bottom: 0px;
      padding-top: 0;
    }

    .info-photo img{
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
      width: 500px;
      margin: 0 auto;
    }

  /* ===== BANDEAU TEAL CLAIR ===== */
  .bg3 {
    background-color: var(--sage); position: relative; z-index: -2;
    margin: -300px auto 50px auto;
    padding: 180px 40px;
  }

  /* ===== BANDEAU GREEN BIOGRAPHIES ===== */

  .bg4 {background-color: var(--green);}
  .content2 {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 200px auto 100px 200px;
    font-family: 'Calisto', sans-serif;
    color: var(--cream-dark);
    margin: 0 auto;
  }

  .content2 h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    font-family: 'GoudyOldStyleBold', sans-serif;
    font-size: 2.6em;
    margin: 60px 30px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--orange-light);
    text-underline-offset: 12px;
  }

  .text-orange {
    color: var(--orange-light)
  }

  .bio-list {
    grid-column: 1 / 2;
    grid-row: 2/3;
    list-style: none;
    height: fit-content;
    padding-left: 30%;
    padding-bottom: 20px;
  }

  li::before {
    content: ".";
    font-family: 'GoudyOldStyle', sans-serif;
    font-size: 99.8px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: 4px;
    line-height: 0;
    color: var(--orange);
  }

  .bio-list li {
    background-size: 16px 16px;
    font-family: 'CalistoBold', sans-serif;
    font-size: 1.3em;
  }

  .bio-list p {
    margin-top: 10px;
    margin-right: 20%;
    padding-bottom: 20px;
    font-size: 0.9em;
    border-bottom: 1px solid var(--green-dark);
  }

  .content2 .info {
    grid-column: 1/2;
    grid-row: 3/4;
    font-family: 'CalistoBold', sans-serif;
    text-align: end;
    padding-right: 20%;
    font-size: 31.8px;
  }

  .content2 a {
    text-decoration: none;
    font-family: 'CalistoBold', sans-serif;
    font-size: 23.8px;
    color: var(--cream-dark);
  }

  .content2 .dot {
    font-family: 'GoudyOldStyle', sans-serif;
    font-size: 119.8px;
    color: var(--orange);
    line-height: 0;
  }

  .carrousel {
    background-color: var(--cream-dark);
    grid-column: 2/3;
    grid-row: 2/3;
    position: relative;
    top: 150px;
    width: 620px;
    height: 349px;
    overflow: hidden;
    border: 10px solid;
    border-color: var(--cream-dark);
    border-radius: 10px;
  }

  .carrousel-slide {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 1s ease, opacity 1s ease;
    pointer-events: none;
  }

  .carrousel-slide img {
    width: 600px;
    object-fit: cover;
    display: block;
    justify-self: center;
    align-self: center;
  }

  .carrousel-slide.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    z-index: 2;
  }

  .carrousel-slide.prev {
    opacity: 0;
    transform: translateX(-100%);
    z-index: 1;
  }

  .content2 h2 {
    grid-column: 1/3;
    grid-row: 4/5;
    padding: 50px 20%;
    text-align: center;
    font-size: 1.8em;
    font-weight: 100;
  }

  /* ===== POST IT RETOURS ===== */
  .bg5 {
    background: var(--cream);
    max-width: 1200px;
    height: auto;
    margin: 80px auto 100px auto;
    padding: 80px 40px 60px 40px;
    text-align: center;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    border-radius: 4px;
    gap: 10px;
    color: var(--teal-dark);
  }

  .comm-wrapper {
    margin: 40px 20px;
    display:grid;
    grid-template-columns: 5% 90% 5%;
  }

  .comm-container {
    position: relative;
    width: 100%;
    min-height: 100px;
    overflow: hidden;
  }

  .comm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: transform 0.7s ease, opacity 0.7s ease;
    pointer-events: none;
    text-align: center;
  }

  .comm.actif {
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
  }

  .comm.sortie-gauche {
    transform: translateX(-100%);
    opacity: 0;
  }

  .comm.sortie-droite {
    transform: translateX(100%);
    opacity: 0;
  }

  .comm.entree-gauche {
    transform: translateX(-100%);
  }

  .fleche {
    cursor: pointer;
    width: 20px;
  }

  .dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
  }

  .point {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
  }

  .point.actif {
    background-color: #F6A278;
  }


/* ===== CONTENT PAGE QUI SUIS-JE===== */

  /* ===== QUI SUIS-JE ? ===== */

  .who {
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 5% 45% 10% 40%;
    grid-template-rows: auto auto auto auto;
    color: var(--cream);
  }

  .who h1 {
    z-index: 3;
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: var(--sage);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    font-family: 'GoudyOldStyleItalic', sans-serif;
    font-size: 3.3em;
    color: var(--green);
    padding: 5% 15%;
    margin-left: 15%;
    border-radius: 10px;
    justify-self: center;
    align-self: center;
  }

  .who .text1 {
    z-index: 2;
    grid-column: 2/4;
    grid-row: 3;
    justify-self: center;
    align-self: center;
    font-size: 1.2em;
    text-align: justify;
    padding: 60px 0 40px 10%;
  }

  .who .photo {
    z-index: 3;
    grid-column: 4;
    grid-row: 1/4;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    justify-self: center;
    align-self: center;
  }

  .who .image {
    z-index: 2;
    grid-column: 2;
    grid-row: 4;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    justify-self: center;
    align-self: center;
    margin: 40px 0 40px 0;
  }

  .who .text2 {
    z-index: 2;
    grid-column: 3/5;
    grid-row: 4;
    justify-self: center;
    align-self: center;
    font-size: 1.2em;
    text-align: justify;
    padding: 40px 15% 40px 0;
    margin-bottom: 40px;
  }

  .who .bg6 {
    z-index: 1;
    grid-column: 2/5;
    grid-row: 2/5;
    background-color: var(--teal);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  }

  /* ===== UN PEU PLUS SUR MOI... ===== */

  .bg7 {
    background-color: var(--cream-dark);
    color: var(--teal-dark);
    z-index: 0;
    overflow: hidden;
  }

  .more {
    position: relative;
  }

  .more h2 {
    font-size: 2.3em;
    padding: 60px 0 60px 0;
  }

  .more h2 img {
    width: 80px;
  }

  .moremore {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 65% 25% 10%;
    grid-template-rows: auto auto auto;
    margin-bottom: 60px;
  }

  .text3 {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    font-size: 1.2em;
    text-align: justify;
    padding: 10px 10% 60px 10%;
  }

  .text3 p {
    padding-bottom: 20px;
  }

  .moremore img {
    grid-column: 2/4;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    width: 600px;
    margin-bottom: 60px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  }

  .bg8 {
    grid-column: 1/3;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    display: flex;
    background-color: var(--cream);
    margin-left: 15%;
    padding: 20px 5%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  }

  .sick img {
    justify-self: center;
    align-self: center;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    margin: 30px 0;
  }

  .text4 {
    padding-left: 3%;
    align-self: center;
    justify-self: center;
    text-align: justify;
    font-size: 1.0em;
  }

  .text4 p {
    padding-bottom: 20px;
  }

  .moremore h3 {
    margin-top: 40px;
    margin-bottom: 60px;
    grid-column: 1/4;
    grid-row: 3;
    text-align: center;
    font-size: 1.6em;
  }

    /* ===== BANDEAU LETTRES QUI SUIS-JE ===== */
    .lettres2 {
      position: relative;
    }
    .lettres2 img {
      position:absolute;
      top: -60px;
      z-index: -1;
    }
    
    .lettres3 {
      position: absolute;
      top: -17%;
      left: 60%;
      z-index: 0;
      width: 1000px;
    }

    
/* ===== CONTENT PAGE BIOGRAPHIES===== */

  /* ===== QUELLE BIOGRAPHIE POUR MOI ? ===== */

.bg9 {
  background-color: var(--green);
  color: var(--cream-dark);
  height: 1380px;
  margin-top: 100px;
}

.biog {
  display: grid;
  grid-template-columns: 60% 30%;
  grid-template-rows: auto auto auto;
  padding-bottom: 100px;
}

.biog h1 {
  grid-column: 1/4;
  padding-top: 80px;
  padding-bottom: 60px;
  font-family: 'GoudyOldStyle', sans-serif;
  font-size: 3.3em;
  justify-self: center;
}

.biog h2 {
  grid-column: 1/4;
  grid-row: 2;
  padding-bottom: 100px;
  font-size: 2.0em;
  justify-self: center;
  text-align: center;
  font-weight: normal;
}

.biog ul {
  list-style: none;
  grid-column: 1;
  grid-row: 3;
  padding-left: 5%;
  padding-right: 10%;
}

  .biog li::before {
    content: ".";
    font-family: 'GoudyOldStyle', sans-serif;
    font-size: 129.8px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: 4px;
    line-height: 0;
    color: var(--green-darker);
  }

.accordeon {
  position: relative;
  z-index: 3;
}

.accordeon li {border-top: 1px solid var(--green-darker); margin-bottom: 20px;}

.accordeon h3 {
  display: inline;
  margin: 0;
  cursor: pointer;
  font-size: 1.8em;
  font-weight: normal;
}

.item .sub {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-6px);
  transition:
    max-height 0.45s ease,
    opacity 0.35s ease,
    transform 0.45s ease;
}

.item.active .sub {
  max-height: 800px;
  opacity: 1;
  transform: translateY(0);
}

.accordeon .item p {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  margin: 20px 0 10px 0;
  font-size: 1.3em;
  text-align: justify;
}

.accordeon .item.active p {
  max-height: fit-content;
}

.accordeon .item p .gras {
  opacity: 0;
  color: var(--orange-light);
  transform: translateX(100px);
  transition: opacity 2s ease, transform 2s ease;
  font-family: 'CalistoBoldItalic', sans-serif;
  font-size: 1.0em;
  line-height: 1.8;
}

.accordeon .item p .fs11 {font-size: 0.9em;}

.accordeon .item p .gras.show {
  opacity: 1;
  transform: translateX(0);
}

.accordeon-images {
  position: relative;
  z-index: 4;
  grid-column: 2;
  grid-row: 3;
  width: 550px;
  height: 425px;
  top: 100px;
  justify-content: center;
  overflow: hidden;
}

.accordeon-images img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transform: scale(1.05) translateX(0);
  transition: opacity 0.8s ease, transform 0.6s ease;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

.accordeon-img.active {
  opacity: 1;
  transform: scale(1) translateX(0);
}


/* ===== COMMENT S'Y PREND-ON ? ===== */

.bg10 {
  background-color: var(--sage);
  margin-top: 80px;
  padding-bottom: 80px;
}

.bio-how {
  display: grid;
  grid-template-columns: 6% 25% 10% 10% 49%;
  grid-template-rows: auto auto auto;
  color: var(--teal-dark);
}

.bio-how h1 {
  grid-column: 2/5;
  grid-row: 1;
  position: relative;
  top: -40px;
  background-color: var(--teal);
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  font-family: 'GoudyOldStyleBold', sans-serif;
  font-size: 3.2em;
  color: var(--cream);
  padding: 30px;
  text-align: center;
}

.bio-how .photo {
  grid-column: 1/3;
  grid-row: 2;
  align-self: center;
  width: 450px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

.bio-how .bio-text1 {
  grid-column: 3/6;
  grid-row: 2;
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 60px;
  padding-left: 5%;
}

.bio-text1 h2 {
  padding-bottom: 20px;
  font-size: 1.4em;
}

.bio-text1 p {
  padding-bottom: 20px;
  font-size: 1.2em;
}

.bio-text1 h3 {
  font-family: 'CalistoItalic', sans-serif;
  font-size: 1.4em;
  padding-bottom: 30px;
}

.bio-how .bio-text2 {
  grid-column: 1/3;
  grid-row: 3;
}

.bio-text2 h2 {
  font-weight: 400;
  text-decoration: underline;
  font-size: 1.4em;
}

.bio-text2 ul {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 1.2em;
}

.bio-text2 li::before{
  font-size: 59.8px;
}

.bio-text2 h3 {
  position: relative;
  margin-right: -50px;
  font-size: 1.0em;
  text-align: justify;
}

.bio-how .bg11 {
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: -100px;
  padding: 20px 0;
  grid-column: 4/6;
  grid-row: 3;
  background-color: var(--teal);
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  display: grid;
  color: var(--cream);
  font-size: 1.0em;
  grid-template-columns: 43% 57%;
  grid-template-rows: 2;
  text-align: center;
}

.bio-how .bg11 img {
  grid-column: 1;
  grid-row: 1/3;
  padding-left: 0;
  width: 400px;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

.bg11 .bio-text3 {
  grid-column: 2;
  grid-row: 1;
  align-self: self-end;
  padding: 0 3% 20px 3%;
}

.bg11 .bio-text4 {
  grid-column: 2;
  grid-row: 2;
  padding: 0 3% 0 3%;
}

/* ===== LETTRES BIOGRAPHIES ===== */

    .lettres5 {
      position: relative;
    }
    .lettres5 img {
      grid-row: 2;
      position: absolute;
      left: 600px;
      z-index: -1;
    }
    .lettres1.devant {
      overflow: hidden;
      z-index: 2;
      opacity: 0.6;
    }
    

/* ===== BOUTON CONTACT ===== */

.bouton {
  display: inline-block;
  border-radius: 10px;
  box-shadow: 6px 6px 20px rgba(0,0,0,0.1);
  transition: transform 1s ease, box-shadow 0.25s ease;
}
.bouton a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 2.3em;
  font-weight: bold;
}
.bouton:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0 14px 32px rgba(0,0,0,0.3);
}

.bouton.contact {
  position: relative;
  top: -40px;
  left: 60%;
  margin-bottom: 100px;
  background-color: var(--cream-dark);
}
.bouton.contact a {
  color: var(--teal-dark);
  padding: 20px 40px;
}

.bouton.faq {
  background-color: var(--sage);
}

.bouton.faq a {
  color: var(--teal-dark);
  font-size: 1.8em;
  padding: 70px 90px;
}

/* ===== TARIFS ===== */

.bg12 {
  background-color: var(--teal);
  margin-bottom: 130px;
}

.tarif {
  display: grid;
  grid-template-columns: 27% 30% 50%;
  grid-template-rows: auto auto auto 120px;
  height: fit-content;
  color: var(--cream);
  font-size: 1.2em;
}

.tarif h1 {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  top: -60px;
  background-color: var(--cream-dark);
  color: var(--teal-dark);
  font-size: 2.4em;
  font-weight: 500;
  justify-self: center;
  align-self: center;
  padding: 40px 100px;
  border-radius: 10px;
}

.tarif h2 {
  grid-column: 2/4;
  grid-row: 1;
  padding: 30px 0 40px 10px;
  font-size: 1.0em;
  font-weight: 500;
}

.tarif h3 {
  grid-column: 1;
  grid-row: 2;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: 1.3px;
  padding-bottom: 30px;
}

.tarif .liste1 {
  grid-column: 1;
  grid-row: 3/4;
  padding: 0 3% 0 0;
}
.tarif .liste1 p {
  line-height: 2;
  font-size: 0.8em;
}
.tarif h4 {
  padding: 25px 0;
  font-size: 0.9em;
  font-weight: normal;
  text-decoration: underline;
}

.tarif .liste2 {
  grid-column: 2;
  grid-row: 3/4;
  border-left: 1px solid color-mix(in srgb, var(--cream-dark) 60%, transparent);
  padding-left: 20px;
}
.tarif .liste2 p {
  line-height: 2;
  font-size: 0.8em;
}

.tarif .adds {
  grid-column: 1/4;
  grid-row: 4;
  padding: 20px 0 0;
  font-size: 0.7em;
}
.tarif .adds h5 {
  font-family: 'CalistoItalic', sans-serif;
  font-weight: normal;
  font-size: 0.9em;
  padding-top: 10px;
}
.tarif .adds a {
  color: var(--cream);
}

.tarif .text1 {
  grid-column: 3;
  grid-row: 2/4;
  padding-top: 50px;
}
.tarif .text1 p {
  text-align: justify;
  padding-bottom: 20px;
}

.tarif .btn {
  grid-column: 3;
  grid-row: 4;
  position: relative;
  top: -20px;
  left: 40%;
}

/* ===== AUTRE ===== */
html {
  scroll-behavior: smooth;
}

.navigation-link {
  cursor: pointer;
}
